
.navbar-toggler{
    border: none;
    font-size: 1.2rem;
}

.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}


.nav-link {
    color:grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    position: relative;
}

.nav-link:hover,.btn-close:focus {
    color: blue; /* Change to your desired hover color */
    background-color:rgb(122, 240, 172);
}


.nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color:#009700;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.nav-link:hover::before ,.nav-link.active::before{
    width: 100%;
    visibility: visible;
}

.division{
    display: flex;
}
.left
{
    width: 50%;
    height:100vh;
    justify-content: center;
    padding-top: 200px;
    padding-left: 100px;
    padding-right: 0px;
    padding-bottom: 50px;
    
}

.right{
    width: 50%;
    height:100vh;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 0px;
    padding-bottom: 50px;
}

.icons-class{
    display: flex;
    justify-content: start;
}
